Repository billydean/pizza-dean: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

whoops
  package.json
Due: prettier --write

empty
  .husky/pre-commit
Due: none

may not need them, but left notes for router Links so I won't get my wires crossed later
  src/App.tsx
  src/components/Pizza/Pizza.tsx
  src/components/PizzaForm/PizzaForm.tsx
  src/components/Splash/Splash.tsx
Due: prettier --write, eslint --fix

copied over component from old site; refactoring and starting to sort out types for props and state; in media res, so many errors
  src/App.tsx
  src/components/Menu/Menu.tsx
  src/components/PizzaForm/PizzaForm.tsx
  types.ts
  yarn.lock
Due: prettier --write, eslint --fix

slow progress on sorting out types and props
  .eslintrc.cjs
  src/App.tsx
  src/components/PizzaForm/PizzaForm.tsx
  types.ts
  yarn.lock
Due: prettier --write, eslint --fix

forgot to push these for the desktop repo
  package.json
  src/App.tsx
  src/components/PizzaForm/PizzaForm.tsx
  src/validation/pizzaScheme.ts
  types.ts
  yarn.lock
Due: prettier --write, eslint --fix

the last of the plain-jane elements from old homework repo
  package.json
  src/App.tsx
  src/components/PizzaForm/PizzaForm.tsx
  src/pizzaSchema.ts
  yarn.lock
Due: prettier --write, eslint --fix

basic element layout for mobile menu and splash
  src/App.scss
  src/App.tsx
  src/components/Menu/Menu.scss
  src/components/Menu/Menu.tsx
  src/components/Splash/Splash.scss
  src/components/Splash/Splash.tsx
  src/index.scss
Due: prettier --write, eslint --fix

setting up form's css grid
  src/App.scss
  src/App.tsx
  src/components/Menu/Menu.scss
  src/components/Menu/Menu.tsx
  src/components/PizzaForm/PizzaForm.scss
  src/components/PizzaForm/PizzaForm.tsx
  src/index.scss
Due: prettier --write, eslint --fix

fiddling with the stylesheet. can't let it eat up too much time
  src/components/PizzaForm/PizzaForm.scss
  src/components/PizzaForm/PizzaForm.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{ts,tsx,js,cjs}) or (any of: *.html)) or (any of: *.{md,json,scss})
  eslint --fix: (any of: *.{ts,tsx,js,cjs}) or (any of: *.html)
